* {
    cursor: none;
}

button.hidden {
    display: none;
}

button {
    font-size: 100px;
    font-family: "Helvetica", sans-serif;
    text-align: center;
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: black;
    color: white;
}

button:hover {
    border-color: rgb(255, 255, 255);
}

#loser {
    font-size: 100px;
    top: 40%;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    color: white;
}